<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<integer>1</integer>
		<real>0.5</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.3</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.35</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.65</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.45</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.75</real>
	</array>
	<array>
		<integer>1</integer>
		<real>1.5</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.75</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.64</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.47</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.29</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.35</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.3</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.6</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.4</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.35</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.4</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.1</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.7</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.5</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.6</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.3</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.8</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.4</real>
	</array>
	<array>
		<integer>1</integer>
		<real>0.6</real>
	</array>
	<array>
		<integer>0</integer>
		<real>0.1</real>
	</array>
</array>
</plist>
